<%content_for :content do%>
<h3>Frequently Asked Questions</h3>
<br>
<br>
<h4> (1) What is the Dixon Lab Cell Death Kinetics database?</h4>
	<p> This database is a repository of cell viability data collected from cancer cells over time in response to small molecule perturbation. These measurements are described in the forthcoming paper by Forcina et al.  More information about each experiment can be found on the <%= link_to "the Experiments page", '/experiments',:method =>:get %>.</p> 
<br>
<h4> (2) How do I search the database? </h4>
	<p>To begin your search, go to  <%= link_to "the Experiments page", '/experiments',:method =>:get %> and select the desired experiment.  This will naviage you to the Search page.  Listed under "Compounds" are the 1,833 small molecules used in the experiment.  Clicking on a field in the "Pathway" or "Targets" column will automatically query the 1,833 small molecules for those with the corresponding attributes.  To view data from the experiment, you may either click on a compound or manually enter the name of a compound used in the experiment.  Once you have entered between 1 and 4 compounds, click "Search the Dixon Lab Database!" to view the graphs.  </p>

<h4> (3)  Contact/Further informaton</h4>
	<p> For further information <a href = "http://www.dixonlaboratory.com/#dixonlab" target = "_blank">visit the Dixon Lab Website</a> </p>
	
</center>
<% end -%>
<%render :file => 'layouts/application' %>
